body {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.center {
  margin: 5em auto 0;
  display: inline-block;
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.center > h1 {
  color: tomato;
}

#play-again {
  padding: 10px 50px;
}

#reset {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: none;
}

canvas {
  max-height: 100vh;
}
